<!DOCTYPE html>
<html>
<head>
    <title>SQL Explorer</title>
</head>
<body>
    <h1>Tables:</h1>
    <ul>
        {% for table in tables %}
        <li>{{ table[0] }}</li>
        {% endfor %}
    </ul>

    <h1>SQL Query:</h1>
    <form method="POST" action="/query">
        <textarea name="query" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Execute">
    </form>

    {% if query %}
    <h1>Query Result:</h1>
    <pre>{{ query }}</pre>
    <table>
        {% for row in result %}
        <tr>
            {% for column in row %}
            <td>{{ column }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
